<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSlefCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A53A38A41C1FFD1A00AD85F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53A38B81C1FFD1A00AD85F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53A38C31C1FFD1A00AD85F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
