<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSwitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A539ECC61C1E5BB6002F02B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A539ECDA1C1E5BB6002F02B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A539ECE51C1E5BB6002F02B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
