<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestNavigationComb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A53707C01C50F755000E5E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53707D91C50F756000E5E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53707E41C50F756000E5E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
